/*-- scss:defaults --*/

// Import fonts 
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Gilda+Display&family=Playfair+Display&display=swap');

// Font Size 


// Colors 
$dark-blue: #161A30;
$lighter_blue: #31304D;
$lightest_blue:  #B6BBC4;
$sage_green: #CEDEBD;
$beige: #F0ECE5;
$purple: #9158A2;

// Base Document Colors 
$navbar-bg: $dark_blue; // navbar 
$navbar-fg: $lightest_blue; // navbar foreground elements 
$navbar-hl: $lighter_blue; // highlight color when hovering over navbar links 
$body-bg: $beige; // page background 
$body-color: $dark_blue; // page text 
$footer-bg: $beige; // footer 
$link_color: $lighter_blue; // hyperlinks 

// Inline Code 
$code-bg: $beige; // inline code background colors 
$code-color: $purple; // inline code text color 

// Code Blocks 
$code-block-bg: $sage_green; // code block background color

/*-- scss:rules --*/
